---
import { getCollection } from 'astro:content';
import BlogPageLayout from '../../layouts/BlogPage.astro';
import GithubEditLink from '@components/GitHubEditLink.astro';
import { generateGitHubEditLink } from '@utils/url';
import { formatDate } from '@utils/date';
import { generateFullSlug } from '@utils/generateFullSlug';
import settings from '@base/settings.json';
import { GoBackButton } from '@components/GoBackButton';
import { Tags } from '@components/Tags';
import { Image } from 'astro:assets';
import { loadDynamicImage } from '@utils/dynamicLoadImage';

export async function getStaticPaths() {
  const docsEntries = await getCollection('blog');
  return docsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { collection, id, slug } = entry;

const githubEditUrlPathname = generateGitHubEditLink({
  collection,
  id,
});

const date = formatDate({ date: entry.data.date });

const fullSlug = generateFullSlug({
  basePath: settings.site.metadata.blog.slug,
  slug,
});
const image = loadDynamicImage(entry.data.image);
---

<BlogPageLayout
  title={entry.data.title}
  description={entry.data?.desc}
  image={entry.data?.image?.src}
  customMetaTitle={entry.data?.customMetaTitle}
  slug={fullSlug}
>
  <article class="blog">
    <div class="space-y-40 pb-16">
      <GoBackButton client:load />
      <div></div>
      <span class="text-[1.4rem]">{date}</span>
    </div>

    <h1>
      {entry.data.title}
    </h1>
    <Tags tags={entry.data.tags} className="mb-32" />
    {
      image && entry.data.image && (
        <p>
          <Image
            src={image}
            alt={entry.data.title}
            width={entry.data.image.width}
            height={entry.data.image.height}
          />
        </p>
      )
    }
    <Content />
    <GithubEditLink pathname={githubEditUrlPathname} />
  </article>
</BlogPageLayout>
