---
import { getCollection } from 'astro:content';
import BlogPageLayout from '../../layouts/BlogPage.astro';
import GithubEditLink from '@components/GitHubEditLink.astro';
import { generateGitHubEditLink } from '@utils/url';
import settings from '@base/settings.json';
import { generateFullSlug } from '@utils/generateFullSlug';
import { GoBackButton } from '@components/GoBackButton';
import { formatDate } from '@utils/date';
import { Image } from 'astro:assets';
import { loadDynamicImage } from '@utils/dynamicLoadImage';

export async function getStaticPaths() {
  const docsEntries = await getCollection('issues');
  return docsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { collection, id, slug } = entry;

const date = formatDate({ date: entry.data.date });

const githubEditUrlPathname = generateGitHubEditLink({
  collection,
  id,
});

const fullSlug = generateFullSlug({
  basePath: settings.site.metadata.commonIssues.slug,
  slug,
});

const image = loadDynamicImage(entry.data.image);
---

<BlogPageLayout
  title={entry.data.title}
  description={entry.data?.desc}
  image={entry.data?.image?.src}
  custom_title={entry.data['custom_title']}
  slug={fullSlug}
>
  <article class="blog">
    <div class="space-y-40 pb-16">
      <GoBackButton client:load />
      <div></div>
      <span class="text-[1.4rem]">{date}</span>
    </div>
    <h1>{entry.data.title}</h1>
    {
      image && (
        <p>
          <Image src={image} alt={entry.data.title} />
        </p>
      )
    }
    <Content />
    <GithubEditLink pathname={githubEditUrlPathname} />
  </article>
</BlogPageLayout>
