---
import { cn } from '@utils/cn';
import '@styles/globals.css';
import { getSiteUrl, hasSecondaryMenuItem } from '@utils/url';
import settings from '@base/settings.json';
import Trackers from '@components/Tracking/Trackers.astro';

import { Announcement } from '@components/Announcement';
import Footer from '@components/Footer';
import { Navbar } from '@components/Navbar';
import SupportMenu from '@components/Support/SupportMenu';
import { generateCanonicalUrl } from '@utils/generateCanonicalUrl';

interface Props {
  title: string;
  ogMeta: {
    title: string;
    description: string;
    image: string;
    slug: string;
    custom_title?: string;
  };
  singlePage?: boolean;
  customBodyClass?: string;
  customContentWrapperClass?: string;
  customNavbarClass?: string;
  hideFooter?: boolean;
  hideAnnouncement?: boolean;
  overflowHorizontally?: boolean;
}

const {
  ogMeta,
  singlePage = false,
  customBodyClass,
  customContentWrapperClass,
  customNavbarClass,
  hideFooter = false,
  hideAnnouncement = false,
  overflowHorizontally,
} = Astro.props;

const baseUrl = getSiteUrl();
const hasSecondaryMenu = hasSecondaryMenuItem(Astro.url.pathname);

const contentSlug = ogMeta?.slug || Astro.url.pathname;
const canonicalUrl = generateCanonicalUrl(contentSlug);
const metaTitle = ogMeta['custom_title'] ?? ogMeta?.title;
---

<!doctype html>
<html
  lang="en"
  class={cn({
    'overflow-x-hidden': !overflowHorizontally,
    '[scrollbar-gutter:stable]': overflowHorizontally,
  })}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="canonical" href={`${canonicalUrl}`} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono/IBMPlexMono-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/atyp/AtypDisplay-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <!-- HTML Meta Tags -->
    <title>
      {`Fleek | ${metaTitle || settings.site.metadata.default.title}`}
    </title>
    <meta
      name="description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={`${baseUrl}/${ogMeta?.slug || ''}`} />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content={`Fleek | ${metaTitle || settings.site.metadata.default.title}`}
    />
    <meta
      property="og:description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <meta
      property="og:image"
      content={`${baseUrl}/${ogMeta?.image?.replace(/^\/+/, '') || settings.site.metadata.default.image?.replace(/^\/+/, '')}`}
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={baseUrl} />
    <meta property="twitter:url" content={`${baseUrl}/${ogMeta?.slug || ''}`} />
    <meta
      name="twitter:title"
      content={`Fleek | ${metaTitle || settings.site.metadata.default.title}`}
    />
    <meta
      name="twitter:description"
      content={ogMeta?.description ||
        settings.site.metadata.default.description}
    />
    <meta
      name="twitter:image"
      content={`${baseUrl}/${ogMeta?.image?.replace(/^\/+/, '') || settings.site.metadata.default.image?.replace(/^\/+/, '')}`}
    />

    <!-- Trackers -->
    <Trackers />
    <script
      async
      src="https://cdn.promotekit.com/promotekit.js"
      data-promotekit="1d44aef1-870e-4899-a017-3fd29ed3f6cf"></script></head
  >

  <body
    class={cn(
      'relative flex min-h-dvh flex-col overflow-x-hidden [scrollbar-gutter:stable] bg-black font-sans text-gray-dark-11 selection:bg-yellow-dark-9 selection:text-black',
      customBodyClass,
    )}
  >
    {
      !singlePage && (
        <>
          {!hideAnnouncement && <Announcement client:load />}
          <Navbar
            client:load
            pathname={Astro.url.pathname}
            className={cn(
              'max-w-[1024px] transition-all xl:max-w-[1066px] 2xl:max-w-[1300px]',
              customNavbarClass,
            )}
          />
        </>
      )
    }
    <div
      class={cn(
        'relative w-full self-center px-24 py-32 xl:max-w-[1066px] 2xl:max-w-[1300px]',
        customContentWrapperClass,
      )}
    >
      {
        hasSecondaryMenu && (
          <SupportMenu client:load currentPagePath={Astro.url.pathname} />
        )
      }
      <slot />
    </div>
    {!singlePage && !hideFooter && <Footer client:load />}
  </body>
</html>
